
#rectangle{
    min-width: 20em;
    margin-top: -1.3em;
    width:75%;
    height:0.5em;
    background:rgb(130,36,51);
}


.box{
    /*border-style: solid;
    border-color: #000000;*/
    width: 100%;
    margin-top: 2em; /*margin outside*/
    padding-top: 0.3em; /*margin inside to text*/
    padding-bottom: 1em;
    padding-left:1em;
    padding-right:1em;
    background:#E9EFF8;
}
